nav{
    float:left;
    height: 60px;
    width: 100%;
    background-color: grey;
    position: sticky;
    top:0;
}

nav ul{
    list-style: none;
    height: 100%;
}

nav ul li{
    float: left;
    padding: 0em 1em;
    height: 100%;
}

nav ul li:hover{
    background-color: rgb(175, 162, 162);
}
.acc{
    float: right;
}

#name{
    margin-left: -2em;
}
nav ul li a{
    font-size: 24px;
    text-decoration: none;
    color: black;
    position: relative;
    top: 0.3em;
}

div {
    float: left;
    width: 80%;
    height: 120px;
    background-color: rosybrown;
    margin-top: 5em;
    margin-left: 10em;
}


